<html>
  <head>
    <title>Dugong</title>
    <meta charset = "utf-8">
  </head>

  <body>
    <h1> Dugong</h1>

    <table border="1" style="border-collapse: collapse; text-align: center">
      </tbody>
        <tr>
          <td align = "left">
            habitat
          </td>
          <td align = "left">
            warm coastal waters- Red Sea, Indian Ocean, Pacific
          </td>

        </tr>
        <tr>
          <td align = "left">
            lifespan in wild
          </td>
          <td align = "left">
            70 yrs
          </td>
        </tr>
        <tr>
          <td align = "left">
            size
          </td>
          <td align = "left">
            8-10 ft
          </td>
        </tr>
        <tr>
        <td align = "left">
          protection status
        </td>
        <td align = "left">
          threatened
        </td>
        </tr>
        <tr>
          <td align = "left">
            breath-holding time
          </td>
          <td align = "left">
            6 minutes
          </td>
        </tr>
      <tbody>
    </table>

    <section>
    <h3>The manatee you've never heard of</h3>
    <p> Manatees get a lot of attention in the US, whereas dugongs sometimes get left out of the conversation! See below for some key differences between manatees and dugongs. Note that the dugong has a dolphin-like fluked tail, whereas the manatee has a beaver-like paddle tail.
    </p>
      <img src= "dugongvsmanatee.jpg" width="50%" height="70%"/>
    </section>


    <section>
    <h3>Interesting eating style</h3>
      <p> Compare the snout of the dugong to the snout of the manatee while they are eating seagrass. They both vaccuum the sea floor with their snouts, but the dugong snout is much more snouty and intense.
      </p>
      <img src= "dugong_eating.jpg" width="30%" height="42%"/>
      <img src= "manatee_eating.jpg" width="30%" height="42%"/>
    </section>

    <footer>
      <p><a href="/">Return to home</a></p>
    </footer>
  </body>
</html>
