<html>
  <head>
    <title>Flying Fox Megabat</title>
    <meta charset = "utf-8">
  </head>

  <body>
    <h1>Flying Fox Megabat</h1>

    <table border="1" style="border-collapse: collapse; text-align: center">
      </tbody>
        <tr>
          <td align = "left">
            habitat
          </td>
          <td align = "left">
            tropical/subtropical Africa, Asia, Australia
          </td>

        </tr>
        <tr>
          <td align = "left">
            lifespan in wild
          </td>
          <td align = "left">
            15-20 yrs
          </td>
        </tr>
        <tr>
          <td align = "left">
            size
          </td>
          <td align = "left">
            wingspan up to 5 feet
          </td>
        </tr>
        <tr>
          <td align = "left">
            diet
          </td>
          <td align = "left">
            fruits
          </td>
        </tr>
      <tbody>
    </table>

    <section>
    <h3>The biggest bat ever</h3>
    <p> They're just giant scary bats.
    </p>
      <img src= "megabat.jpg" width="40%" height="60%"/>
    </section>


    <section>
    <h3>Just keep looking at these giant bats!</h3>
      <p> aaahhhh!</p>
      <img src= "womanandbat.jpg" width="33%" height="60%"/>
      <img src= "hangingbat.jpg" width="33%" height="60%"/>
    </section>

    <footer>
      <p><a href="/">Return to home</a></p>
    </footer>
  </body>
</html>
