<!-- views/index.erb -->
<html>
  <head>
  <title>Animals that weird me out</title>
  <meta charset = "utf-8">
  </head>

  <p>
    <img src= "Linny-pig.jpg" width="30%" height="42%"/>
  </p>
  <nav>
    <ul>
      <li><a href="http://localhost:9292/dugong">Dugong</a></li>
      <li><a href="http://localhost:9292/pangolin">Pangolin</a></li>
      <li><a href="http://localhost:9292/ffmegabat">Flying Fox Megabat</a></li>
    </ul>
  </nav>
</html>
