<!-- views/index.erb -->
<html>
  <head>
    <title>Animals that freak me out in a good way</title>
    <meta charset = "utf-8">
  </head>

  <body>
    <img src= "Linny-pig.jpg" width="50%" height="69%"/>
    <h1>Animals that freak me out in a good way</h1>

    <nav>
      <ul>
        <li><a href="http://localhost:9292/dugong">Dugong</a></li>
        <li><a href="http://localhost:9292/pangolin">Pangolin</a></li>
        <li><a href="http://localhost:9292/ffmegabat">Flying Fox Megabat</a></li>
      </ul>
    </nav>
  </body>
</html>
