<html>
  <head>
    <title>Pangolin</title>
    <meta charset = "utf-8">
  </head>

  <body>
    <h1> Pangolin</h1>

    <table border="1" style="border-collapse: collapse; text-align: center">
      </tbody>
        <tr>
          <td align = "left">
            habitat
          </td>
          <td align = "left">
            southern countries in Africa
          </td>

        </tr>
        <tr>
          <td align = "left">
            lifespan in wild
          </td>
          <td align = "left">
            20 yrs
          </td>
        </tr>
        <tr>
          <td align = "left">
            size
          </td>
          <td align = "left">
            1-3 ft
          </td>
        </tr>
        <tr>
        <td align = "left">
          protection status
        </td>
        <td align = "left">
          critically endangered
        </td>
        </tr>
        <tr>
          <td align = "left">
            diet
          </td>
          <td align = "left">
            ants, termites, other insects
          </td>
        </tr>
      <tbody>
    </table>

    <section>
    <h3>Mammal? Reptile? Small dragon? Ball?</h3>
    <p> Perhaps pangolins leave a strong impression because they are the only scaly mammal in the world.  The scales of the pangolin protect it against predators, such as the pee-oohed lions below.
    </p>
      <img src= "pangolin.jpg" width="40%" height="60%"/>
      <img src= "pangolinbaby.jpg" width="40%" height="60%"/>
      <img src= "dragonpangolin.jpg" width="40%" height="60%"/>
      <img src= "lionwithpangolin.jpg" width="40%" height="60%"/>
    </section>


    <section>
    <h3>Having your own pokemon is cool</h3>
      <p> The pokemon creators found the pangolin so compelling, they created a pokemon in its honor (Sandshrew).
      </p>
      <img src= "pokemon.jpg" width="33%" height="60%"/>
    </section>

    <footer>
      <p><a href="/">Return to home</a></p>
    </footer>
  </body>
</html>
